.start-button {
	height: 15%;
	width: 20%;
	position: fixed;
	bottom: 3%;
	left: 35%;
	background-color: #4060DD !important;
	font: 3em "Arial";
	color: #FFF !important;
	text-align: center;
	overflow: hidden;
	text-overflow: clip;

}

/* this apparently works without overrides, go figure...*/
#response-popup {
	border: 0;
	width:100%;
	color: #FFF;
	text-shadow: none !important;
}
