#questions .ui-content {
	padding:0 1% 0 1%;
}

html, body {
	height: 100% !important;
	background-size: 100% !important;
	overflow: hidden !important;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;*/
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#front { /*This is the id of the start page div*/
	height: 100% !important;
	overflow: hidden;
}
.front-content {
	background: url("../img/startscrn.jpg") no-repeat center center fixed;
	height: 100%;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/**
 * Overrides for main game screen
 */
#questions {
	background: url(../img/gamescreen_background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

 #question-holder {
 	width: 20em;
 	height:100%;
 	background-color:#FFF;
 	border: solid 0.05em #000;
 	border-radius: 20px;
 	display: table-cell;
 	text-align: center;
 	vertical-align: middle;
 	font: 10em "Arial Black"; 
 }
 
.answer-button {
	color: #FFF !important;
	padding:0;
}
.old-answer-button {
	text-shadow: 0 !important;
	/*width: 3.44em !important;*/
	width: 100% !important;
	height: 2.44em !important;
	font-size: 3.44em !important;
}

#response-popup{
	font: 1em "Arial"; 
	background-color: #0072bc;
	padding: 1em  10em;
}

#response-popup span{
	font: 2em "Arial";
	text-align: center;
	margin: 0.01em;	
	color: #FFF;
}

#response-popup #correct-answer-number {
	font: 4em "Arial Black";
}

.indicator-unanswered{
		float: left;
		background: url(../img/indicator-unanswered.png) no-repeat;
		width: 55px;
		height: 77px;
}

.indicator-correct{
		float: left;
		background: url(../img/indicator-correct.png) no-repeat;
		width: 55px;
		height: 77px;
}

.indicator-incorrect{
		float: left;
		background: url(../img/indicator-incorrect.png) no-repeat;
		width: 55px;
		height: 77px;
}
.clear{
	clear:both;
}


